#circle {
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 10px;
}
#tyx {
  float: left;
  height: 100px;
  width: 200px;
  border: 1px solid red;
  border-top-left-radius: 100px 50px;
  border-top-right-radius: 100px 50px;
  border-bottom-left-radius: 100px 50px;
  border-bottom-right-radius: 100px 50px;
  margin-right: 10px;
}
#cl2 {
  height: 100px;
  width: 500px;
  border: 2px solid #a1a1a1;
  background-color: #f00;
  border-radius: 50px;
  clear: both;
}
.sh {
  width: 300px;
  height: 100px;
  background-color: #f90;
  box-shadow: 10px 10px 5px #888;
}
h1 {
  color: white;
  text-shadow: 2px 2px #000;
}
.wdap {
  width: 8em;
  border: 2px solid #333;
  word-wrap: break-word;
}
@font-face {
  font-family: lhandw;
  src: url("../fonts/LHANDW.TTF");
}
p {
  font-family: lhandw;
}
.fsss {
  width: 200px;
  height: 100px;
  background-color: #ccc;
  border: 2px solid #000;
}
.ro {
  /* 旋转30度 */
  transform: rotate(30deg);
}
.fsss:hover {
  transform: scale(1.2);
}
