#fix-left {
  left: 100px;
}

#container {
  width: 600px;
  height: 800px;
  background-color: #ccc;
  margin: 0 auto;
}

#fix-right {
  right: 100px;
}

.fix {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: fixed;
  top: 100px;
}

.fix img {
  width: 100px;
  height: 100px;
}
#box1 {
  width: 170px;
  height: 190px;
  position: relative;
}
#box2 {
  width: 99%;
  position: absolute;
  bottom: 0;
}
div {
  border: 2px red solid;
  color: #fff;
}
