* {
  padding: 0;
  margin: 0;
}
#box {
  width: 200px;
  height: 200px;
  border: 1px solid #00f;
  margin: 20px;
  padding: 20px;
  /* overflow: hidden; */
  /* 超出部分的处理 */
  /* overflow: scroll; */
  overflow: auto;
}
img {
  align-self: auto;
  width: 30%;
  height: 30%;
}
/* div {
  border: solid;
} */
#imglist {
  text-align: center;
  font-size: 0;
}
#imglist img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #00f;
  padding: 5px;
}
#nav {
  width: 300px;
  margin: 10px auto;
  font-size: 0;
}
a {
  display: inline-block;
  width: 80px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
a:hover {
  color: #fff;
  background-color: #ccc;
  border: 1px solid;
  border-left-color: orange;
  border-top-color: orange;
  border-right-color: orange;
}
