p {
  color: #0026ffc7;
  font-size: 18px;
  font-weight: bold;
  text-indent: 2em; /*首行缩进*/
  text-align: left; /*对齐*/
  text-decoration: underline red; /*装饰线*/
  line-height: 200%; /*行高*/
  letter-spacing: 0.5; /*字符间距*/
}
h1 {
  letter-spacing: 3px;
  text-align: center;
}
h2 {
  letter-spacing: -2px;
}
p {
  height: 40px;
  font-size: 14px;
  background-color: #fcf;
  /* line-height: 40px; */
}
.date {
  text-align: right;
}
div {
  /* background: #0026ffc7; */
  /* background-image: url("image/baidu.png"); */
  background-repeat: repeat-x;
}
img {
  width: 25%;
  height: 25%;
}
a:link {
  /* 未被访问过的连接 */
  text-decoration: none;
  color: #000;
}
a:visited {
  /* 已访问过的链接 */
  text-decoration: none;
  color: #f00;
}
a:hover {
  /* 鼠标悬停 */
  text-decoration: underline;
  color: aqua;
  font-size: 120%;
}
a:active {
  text-decoration: none;
  color: #0f0;
}
.inside{
  list-style-position: inside;
}
.outside{
  list-style-position: outside;
}
table{
  width: 50px;
  height: 50px;
  border-collapse: collapse;
  /* 合并边框线 */
}
table,tr,td{
  border: 1px solid #e0e;
}
tr:nth-child(odd){
  /* 奇选择器 */
  background-color: rgb(70, 243, 78);
}
tr:nth-child(even){
  /* 偶选择器 */
  background-color: rgb(238, 149, 149);
}