* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #673929;
}
#container {
  width: 900px;
  margin: 0 auto;
}

#header {
  height: 220px;
  margin-bottom: 5px;
  background-color: #ccf;
  position: relative;
}
#header #icon-list {
  position: absolute;
  top: 170px;
  right: 5px;
  width: 130px;
  height: 30px;
}

#nav {
  height: 30px;
  margin-bottom: 5px;
  background-color: #0099cc96;
  font: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
}
#nav a {
  text-decoration: none;
}
a:link {
  color: #ffffff;
}
a:visited {
  color: white;
}
a:hover {
  color: yellow;
}
a:active {
  color: yellow;
}

#main {
  background-color: #ffffff;
  /* height: 500px; */
}

#aside {
  float: left;
  width: 300px;
  height: 858px;
  background-color: #66ccff;
  text-align: center;
  font-size: 14px;
}
#price h2 {
  margin: 5px;
}
#price table {
  border-collapse: collapse;
}
#price table,
tr,
th,
td {
  border: 1px solid #f00;
}

tr:nth-child(odd) {
  background-color: #cff;
}

tr:nth-child(even) {
  background-color: rgb(177, 243, 182);
}

#imglist {
  width: 130px;
  margin: 50px auto;
}
.pol {
  width: 85px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #bfbfbf;
  border-radius: 5px;
}
.pol img {
  width: 80px;
  height: 95px;
}
.rote-left {
  transform: rotate(7deg);
}
.rote-right {
  transform: rotate(-7deg);
}

#content {
  float: right;
  width: 595px;
  /* height: 2050px; */
  margin-bottom: 5px;
  background-color: #66ccff;
}
.subcon {
  width: 570px;
  margin: 10px auto;
  clear: both;
}
.subcon img {
  margin: 5px;
  padding: 5px;
  float: left;
  border: 1px dashed #000;
}
.subcon .subtext {
  margin: 5px;
  float: left;
  width: 60%;
}
.subtext h2 {
  color: #ff0000;
  margin: 5px;
  margin-left: 0;
}
.subtext p {
  text-indent: 2ex;
}

#footer {
  clear: both;
  height: 60px;
  line-height: 60px;
  background-color: #66ccff;
  text-align: center;
}

#fix1 {
  position: fixed;
  top: 100px;
  left: 10px;
}
