* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(#fff, #0f0);
}
#container {
  width: 300px;
  height: 300px;
  /* border: 1px solid #cccccc; */
  margin: 150px auto;
}
#box {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  /* 从侧面观察 */
  /* transform: rotateX(45deg) rotateY(45deg); */
  perspective: 20000px;
  animation: ro 4.5s linear infinite;
  /* linear匀速 infinite一直转 */
}
@keyframes ro {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.box-page {
  width: 300px;
  height: 300px;
  /* 位置初始化 */
  position: absolute;
  transform-style: preserve-3d;
}
.top {
  /* background-color: #00f; */
  transform: translateZ(150px);
}
.bottom {
  /* background-color: #0f0; */
  transform: translateZ(-150px);
}
.left {
  /* background-color: #f00; */
  transform: translateX(150px) rotateY(90deg);
}
.right {
  /* background-color: #0ff; */
  transform: translateX(-150px) rotateY(90deg);
}
.before {
  /* background-color: #f0f; */
  transform: translateY(150px) rotateX(90deg);
}
.after {
  /* background-color: #ff0; */
  transform: translateY(-150px) rotateX(90deg);
}
/* .box-page div:nth-child(1) {
  animation: a1 4.5s ease-in;
}
.box-page div:nth-child(2) {
  animation: a1 4.5s ease-in 0.5s;
}
.box-page div:nth-child(3) {
  animation: a1 4.5s ease-in 1s;
}
.box-page div:nth-child(4) {
  animation: a1 4.5s ease-in 1.5s;
}
.box-page div:nth-child(5) {
  animation: a1 4.5s ease-in 2s;
}
.box-page div:nth-child(6) {
  animation: a1 4.5s ease-in 2.5s;
}
.box-page div:nth-child(7) {
  animation: a1 4.5s ease-in 3s;
}
.box-page div:nth-child(8) {
  animation: a1 4.5s ease-in 3.5s;
}
.box-page div:nth-child(9) {
  animation: a1 4.5s ease-in 4s;
} */

@keyframes a1 {
  0% {
    transform: translateZ(0px) scale(1) rotateZ(0deg);
  }
  25% {
    transform: translateZ(300px) scale(0) rotateZ(720deg);
  }
  50% {
    transform: translateZ(300px) scale(0) rotateZ(720deg);
  }
  75% {
    transform: translateZ(300px) scale(0) rotateZ(720deg);
  }
  100% {
    transform: translateZ(0px) scale(1) rotateZ(0deg);
  }
}

.box-page div:nth-child(1),
.box-page div:nth-child(3),
.box-page div:nth-child(5),
.box-page div:nth-child(7),
.box-page div:nth-child(9) {
  animation: rotey 6s linear infinite;
}
@keyframes rotey {
  20% {
    transform: rotateY(0deg);
    background-size: 300px 300px;
  }
  20% {
    transform: rotateY(540deg);
    background-size: 100px 100px;
  }
  60% {
    transform: rotateY(540deg);
    background-size: 100px 100px;
  }
  80% {
    transform: rotateY(0deg);
    background-size: 300px 300px;
  }
}
.box-page div:nth-child(2),
.box-page div:nth-child(4),
.box-page div:nth-child(6),
.box-page div:nth-child(8) {
  /* transform: rotateX(0deg); */
  animation: rotex 6s linear infinite;
}
@keyframes rotex {
  20% {
    transform: rotateX(0deg);
    background-size: 300px 300px;
  }
  40% {
    transform: rotateX(540deg);
    background-size: 100px 100px;
  }
  60% {
    transform: rotateX(540deg);
    background-size: 100px 100px;
  }
  80% {
    transform: rotateX(0deg);
    background-size: 300px 300px;
  }
}
