* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style-type: none;
}
a {
  color: #666;
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
#top,
#header,
#nav,
#banner,
#star,
#accessory,
#world,
#save,
#after-save,
#footer {
  height: 100px;
  width: 100%;
  border: 1px solid #000;
}
.container {
  width: 1000px;
  /* border: 1px solid #f00; */
  margin: 0 auto;
}
/*设置顶部样式*/
#top {
  height: 5px;
  background-color: #00925f;
}
#header {
  height: 30px;
  background-color: #2d2d2d;
}
#header .xlwb {
  width: 21px;
  height: 17px;
  background: url("../image/icons.png") no-repeat -45px -94px;
}
#header .txwb {
  width: 18px;
  height: 21px;
  background: url("../image/icons.png") no-repeat -25px -92px;
}
#header .tel {
  color: #17925f;
}
#header .header_left div {
  float: left;
  margin: 5px 10px 0;
}
#header ul li {
  float: left;
  margin: 1px auto;
}
#header li a {
  color: #b2b2b2;
  font-size: 14px;
  /*margin: 0 10px;*/
  border-right: 1px solid #b2b2b2;
  padding: 0 15px;
  line-height: 30px;
}
#header li a:hover {
  color: #17925f;
}
#header .shapCar a {
  border: none;
}
#header .shapCar span {
  display: inline-block;
  width: 19px;
  height: 17px;
  vertical-align: middle;
  background: url("../image/icons.png") no-repeat 0 -95px;
  margin-left: 5px;
}
/*设置导航栏样式*/
#nav {
  background-color: #eeeeee;
  height: 90px;
}
#nav li {
  float: left;
  margin: 0 15px;
  line-height: 90px;
}
#nav li a {
  color: #666666;
  font-weight: bold;
}
#nav li a:hover {
  color: #17925f;
}
/*设置明星机型*/
#star {
  height: 700px;
  background-color: #f2f2f2;
}
#star .star_top {
  text-align: center;
  margin: 10px;
}
#star ul {
  width: 1000px;
  margin: 10px auto;
}
#star li {
  width: 230px;
  /* border: 1px solid #000000; */
  float: left;
  margin: 10px auto;
  border-bottom: 4px solid #dfdfdf;
  transition: all 0.3s;
}
#star li:hover {
  border-bottom: 4px solid #4fb59d;
  transform: translateY(-10px);
}
#star li img {
  width: 230px;
}
#star li h2 {
  text-align: center;
}
#star li p {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: #bdbdbd;
}
#star .money {
  color: #00925f;
  font-size: 14px;
}
#star .line {
  width: 0px;
  height: 450px;
  border-left: 1px solid #eaeaea;
  margin: 0px 10px;
}
